@charset "UTF-8";

/* Estilos para telas */

*{
    margin: 0px;
    padding: 0px;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header{
    background-color: aquamarine;
}

header h1{
    text-align: center;
}

menu ul{
    background-color: yellow;
    list-style-type: none;
}

menu li{
    list-style-type: disc;
    display: inline-block;
    padding: 20px;
    color: blue;
    background-color: orangered;
}

article{
    width: 600px;
    display: block;
    margin: auto;
}

article h2{
    margin-bottom: 20px;
}

article p{
    margin-bottom: 20px;
}