@charset "utf-8";

/* Todas as demais mídias */

/* Typical Device Breakpoints
Pequenas telas: até 640
Celular: 600 x 720
Tablet: 768 x 1024
Desktop: 992 x 1200
Grandes telas: acima de 1200px

*/

@media print{

}

/* Versão para tablet */
@media screen and (min-width:768px) and (max-width:1024px) {
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }

    h1{
        font-size: 30px;
    }

    img#phone{display: none;}
    img#tablet{display: block;}
    img#impressora{display: none;}
    img#pc{display: none;}
    img#tv{display: none;}
}

/* Versão para desktop */
@media screen and (min-width:992px) and (max-width:1200px) {
    body{
        background-image: url(../imagens/back-pc.jpg);
    }

    h1{
        font-size: 35px;
    }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#impressora{display: none;}
    img#pc{display: block;}
    img#tv{display: none;}
}

/* Versão para telas grandes. Ex: Tv */
@media screen and (min-width:1200px) {
    body{
        background-image: url(../imagens/back-tv.jpg);
    }

    h1{
        font-size: 40px;
    }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#impressora{display: none;}
    img#pc{display: none;}
    img#tv{display: block;}
}